
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;                                                                       
    background-color: rgb(32, 26, 26);
    height: 50px;
}
 .nav li{
    float: right;
    list-style-type: none;
}
 .nav li a{
    display: block;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
}
.nav li a:hover{
    color: orange;

}

body{
    background-color: rgb(223, 223, 236);
    border-style: outset;
}
/* .content{
    padding: 40px;

} */
img{
   
    height: 300px;
    width: 300px;
    float: left;
}
.footer{
    position: fixed;
    background-color: rgb(32, 26, 26);
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer div{
    color: cornsilk;
}

.column{
 float: left;
 padding: 30px;
}